.Logo {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
}

.Card-Hawkins {
  background: #ffff;
  border-radius: 7px;
  height: 700px;
}

.Header-Item {
  background: #ffff;
  border-radius: 7px;
}

.Card-Charts {
  background: #ffff;
  border-radius: 7px;
  height: 355px;
}

.Card-Eligible {
  background: #ffff;
  border-radius: 7px;
  height: 320px;
}

.Header-Title {
  cursor: pointer;

}

.Card-Profile {
  border-bottom: 2px dashed #ddd;

}

.TitleNumber {
  border-bottom: 2px dashed #ddd;
}

.TextIcon {
  border-bottom: 2px dashed #ddd;
}

.Type-Title {
  border: 1px solid #ddd;
  border-radius: 5px;
  border-left: 0.3rem solid red;
}

.Type-Title1 {
  border: 1px solid #ddd;
  border-radius: 5px;
  border-left: 0.3rem solid orange;
}

.ovrlay {
  position: relative;
  cursor: pointer;

}

.item-ovrlay {
  position: absolute;
  width: 100%;
  height: 38px;
  background: #D9EAFF;
  opacity: 0.9;
  bottom: 0;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  line-height: 38px;
  padding: 0rem 1rem;
  border-radius: 0px, 0px, 6px, 6px;

}

.item-ovrlay p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.card img {
  width: 8rem;
  height: 9rem;
  object-fit: cover;
  border-radius: 0.2rem;

}

.TextBorderTop {
  border-bottom: 2px dashed #E8EAEF;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.Header-List {
  background-color: #F6F6F9;
  height: 44px;
  color: #152C5B;
  font-size: 15px;
  font-weight: 500;
  opacity: 80%;

}

.border-botton {
  height: 60px;
}