.ant-input-number .ant-input-number-handler-wrap {
  display: none;
}
.ant-input-group-addon {
  border: none !important;
}
.ant-textArea {
  border: 0px;
  background-color: #F6F6F966 !important;
  font-size: 1rem !important;
  border-radius: 0px;
  font-weight: 500;
  color: #152c5b !important;
}
.ant-textArea:hover {
  border-color: #d9d9d9 !important;
}
.ant-textArea:focus {
  box-shadow: none;
}
.textBorder {
  border: 0.125rem solid #152C5B1A;
  border-top: 0px;
  border-bottom: 0px;
}
.btn-add {
  border:  0.125rem solid #152C5B1A;
  background-color: #F6F6F966 !important;
  border-top: 0px;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-input-number .ant-input-number-input{
  font-size: 1rem !important;
  font-weight: 500;
  color: #152c5b !important;
}
.inpNumber:hover{
  border-color: #152C5B1A;
  border-inline-end-width: 0.125rem;
}
.inpNumber:focus{
  outline: 0 !important;
}
.inpNumber{
  background-color: #F6F6F966 !important;
  border: 0.125rem solid #152C5B1A;
  box-shadow: none;
}
/* text type */
.txtInput{
    font-size: 1rem !important;
    font-weight: 500;
    color: #152c5b !important;
     background-color: #F6F6F966 !important;
  border: 0.125rem solid #152C5B1A;
    box-shadow: none;
}
.txtInput:hover{
  border-color: #152C5B1A;
   border-inline-end-width: 0.125rem;
}
.txtInput:focus{
  border: 0.125rem solid #152C5B1A;
    box-shadow: none
}
/* id */
.id-donor{
  display: flex;
  flex-wrap: wrap;
  gap: 0.813rem;
  font-size: 1rem !important;
  font-weight: 600;
  color: #152c5b !important;
}
.icon-close{
  font-size: 0.75rem !important;
  color: gray;
}
.sub-idDonor{
  width: 23%;
  border-radius: 0.625rem;
  border: 0.125rem solid #21C273;
  background-color:#21c2740e;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* special modal */

