.donor-border {
  border: 1px solid #152c5b16;
  border-radius: 7px;
  background-color:
  #f6f6f990;

}
.donor-group {
  border-radius: 7px;
}
.lapsed-group {
  border-radius: 7px;
}
.number_contain {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.tittle-content {
  font-size: 20px;
  font-weight: 600;
  color: #152c5b;
  opacity: 80%;
}

.text-date {
  font-size: 1rem !important;
  font-weight: 600 !important;
}
.text-h5 {
  font-size: 14px;
  font-weight: 600;
  color: #152c5b;
  opacity: 80%;
}
.text-h6 {
  font-size: 15px;
  font-weight: 600;
  color: #152c5b;
  opacity: 40%;
}
.text {
  font-size: 13px;
  font-weight: 600;
  color: #152c5b;
  opacity: 45%;
}
.text-special {
  font-size: 14px;
  font-weight: 600;
  color: #152c5b;
  opacity: 55%;
}

.text-box {
  font-size: 14px;
  font-weight: 600;
  color: #152c5b;
  opacity: 75%;
}

.icon-close {
  width: 14px;
  height: 14px;
}
.icon-edit {
  font-size: 21px;
}
.icon-delete {
  font-size: 21px;
}
